#directory
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 20%;
    background-color: lightskyblue;
    color: white;
    
    text-align: center;
    
    
    
      text-shadow: 2px 2px 4px #000000;
    overflow: auto;
    
}

#body
{
    
    position: fixed;
    
    top: 20%;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 80%;
    background-color: blue;
  
    overflow: auto;
}

#title
{
    
    width: 100%;
    background-color: indianred;
    font-size: 20pt;

    cursor: pointer; 
    
}

.nav
{
    display: inline-block;
    
    margin-left: 60px;
    
    
    font-size: 25pt;
    text-align: center;
    
    
    
}
#logo
{
    
   position: fixed;
    top: -2.5%;
    left: -4%;
    width: 20%;
    height: 25%;

    

    
    
    
    
}
a
{
    
   cursor: pointer; 
    
    
    
}


.picHolder
{
    
    width: 100%;
    height: 45%;
    background-color: purple;
    
    
    
    
    
    
}


#rDetail
{
    width: 100%;
    height: 55%;
    background-color: indianred;
    color: white;
    font-size: 40pt;
    padding: 5%;
  
    
    
    
    
    
}
#dDetail
{
    width: 100%;
    height: 55%;
    background-color: dodgerblue;
    color: white;
    font-size: 40pt;
    padding: 5%;
    
    
    
    
    
    
}

#werNotr
{
    width: 100%;
    height: 29%;
    
 
    background-color: whitesmoke;
    color: indianred;
  
    font-size: 40pt;
    
    overflow: auto;
    
    
    
}
#werNotr h1
{

      margin: 0px;
    margin-top: 2%;
     margin-left: 5%;
 
   
    
}
#werNotd
{
    width: 100%;
    height: 29%;
    
   
    background-color: whitesmoke;
    color: dodgerblue;
    
    font-size: 40pt;
    
     
    overflow: auto;
    
    
}
#werNotd h1
{

    margin: 0px;
    margin-top: 2%;
     margin-left: 5%;
 
   
    
}
.pic
{

    width: 20%;
    height: 100%;

    background-color: aliceblue;
    display: inline-block;

    float: left;
}



#trump
{

    background: url("trump.jpg") center center no-repeat; 
    background-size: 100% 100%;
}
#mcConnel
{

    background: url("mcconnel.jpg") center center no-repeat; 
    background-size: 100% 100%;
}
#sean
{

    background: url("sean.jpg") center center no-repeat; 
    background-size: 100% 100%;
}

#sara
{

    background: url("sara.jpg") center center no-repeat; 
    background-size: 100% 100%;
}
#newt
{

    background: url("newt.jpg") center center no-repeat; 
    background-size: 100% 100%;
}





#hill
{

    background: url("hill.jpg") center center no-repeat; 
    background-size: 100% 100%;
}
#bern
{

    background: url("bern.jpg") center center no-repeat; 
    background-size: 100% 100%;
}
#bill
{

    background: url("bill.jpg") center center no-repeat; 
    background-size: 100% 100%;
}

#wes
{

    background: url("wes.jpeg") center center no-repeat; 
    background-size: 100% 100%;
}
#warren
{

    background: url("warren.jpg") center center no-repeat; 
    background-size: 100% 100%;
}










