#directory
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 20%;
    background-color: lightskyblue;
    color: white;
    
    text-align: center;
    
    
    
      text-shadow: 2px 2px 4px #000000;
    overflow: auto;
    
}

#body
{
    
    position: fixed;
    
    top: 20%;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 80%;
    background-color: red;
  
    overflow: auto;
    background-color: antiquewhite;
}

#title
{
    
    width: 100%;
    background-color: indianred;
    font-size: 20pt;

     cursor: pointer; 
    
}

.nav
{
    display: inline-block;
    
    margin-left: 60px;
    
    
    font-size: 25pt;
    text-align: center;
    
    
    
}
a
{
    
   cursor: pointer; 
    
    
    
}
#quote
{
    text-align: center;
    font-size: 50pt;
    text-shadow: 2px 2px 4px #000000;
    font-style:  italic;
    color: white;

    height: 50%;
    background: url("quote.png") center center no-repeat;
    background-size: 100% 100%;
    padding: 250px;
    padding-top: 70px;

    
    overflow: auto;
    
    
    
    
    
    
}

#logo
{
    
    position: fixed;
    top: -2.5%;
    left: -4%;
    width: 20%;
    height: 25%;

    
    
    
    
}


#logoWhy
{
    width: 100%;
    height: 70%;
    
    
    background: url("/main/lion.png") center center no-repeat;
    background-position: right;
    background-size: 45% 100%;
    
    overflow: auto;
    
}

#logoReasons
{
    
    
    color: crimson;
    font-size: 30pt;

    padding-left: 5%;
    padding-top: 2%;
    
    
    
}


#motto
{
    
    
    width: 100%;
    height: 70%;
    font-size: 30pt;
    background: url("/about/handshake.jpg") center center no-repeat;
    background-position: left;
    background-size: 30% 90%;
    
   
}

#motto p
{
    
    font-size: 30pt;

    padding-left: 35%;
    padding-top: 2%;
    padding-right: 5%;
     
}
#motto h3
{
    
    
        font-size: 40pt;

    padding-left: 35%;
    padding-top: 2%;
    padding-right: 5%;
    
    
}
#reasons
{
    
    
    
    width: 100%;
    height: 100%;
  
    font-size: 30pt;
    

}
#reasons h3
{
      font-size: 40pt;
    text-align: center;
        padding-left: 0%;
    
    
}

#statList
{
    
    
    padding-left: 9%;
    
    
    
    
}









#fight
{
    
    padding-left: 2%;
       width: 100%;
    height: 100%;
        background: url("flag.jpeg") center center no-repeat;
    background-position: right;
    background-size: 40% 90%;
    
    font-size: 25pt;
    
    
}

















